
%manrope-medium{
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
}

%manrope-extrabold{
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
}
%background-color{
    background-color: #080C20;
}
%heading-color{
    color: #ffffff;
}
%main-text-color{
    color: #777F98;
}
%accent-blue-color{
    color: #093F68;
}
%accent-green-color{
    color: #3EE9E5;
}
%errors-red-color{
    color: #FF2965;
}

