@import "vars";
@import "libs";
@import "fonts";
@import "global";

.header {
    padding-top: 80px;
    &__inner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
        .logo {
            width: 120px;
            height: 35px;
            img {
                max-width: 100%;
            } 
        }
    }
}

.promo {
    padding-top: 114px;
    min-height: 670px;
    &__title {
        max-width: 600px;
        @extend %manrope-extrabold;
        font-size: 48px;
        line-height: 56px;
        text-align: center;
        margin: 0 auto;
        padding: 0 15px 0;
        span {
            @extend %accent-green-color;
        }
    }
    &__text {
        @extend %manrope-medium;
        @extend %main-text-color;
        z-index: 2;
        font-size: 15px;
        line-height: 25px;
        text-align: center;
        max-width: 540px;
        margin: 24px auto 0;
        padding: 0 15px 0;
    }
    &__bg {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 459px;
        position: relative;
        z-index: -1;
        img {
            max-height: 100%;
        } 
    }
    &__left {
        position: relative;
        bottom: 260px;
    }
    &__center {
        position: relative;
        bottom: 350px;

    }
    &__right {
        position: relative;
        bottom: 260px;
    }
    
}
